@using Microsoft.AspNetCore.Identity
@using Dashboard.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

        @if (SignInManager.IsSignedIn(User))
{
   

<div class="collapse navbar-collapse navbar-right" id="myNavbar">
       <!-- <form class="navbar-form navbar-left">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <i class="glyphicon glyphicon-search"></i> </button>
            </div>
          </div>
        </form>-->
        <ul class="nav navbar-nav">
         <!-- <li class=""><a href="#"><i class="fa fa-refresh"></i> Start Tour</a> </li>-->
<!--          <li class=""><a href="#"><i class="fa fa-volume-up"></i></a> </li>
          <li class=""><a href="#"><i class="fa fa-envelope"></i> <span class="badge">5</span></a> </li>
          <li class=""><a href="#"><i class="fa fa-bell"></i> <span class="badge">9</span></a> </li>-->
          <!--<li class="">
            <a href="#" class="user-profile"> <span class=""><img class="img-responsive" src="https://lh3.googleusercontent.com/-HxSAl6WJSI0/WM-dbkQ1ONI/AAAAAAAADuY/RsjaXC3tg4oBozCUYyLr12ZjZ1_Cl91mACJoC/w424-h319-p-rw/sumit.png"></span> </a>
          </li>-->
          <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">Settings          
           <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li> <a sp-area="" asp-controller="Page" asp-action="CreatePage"><i class="fa fa-user"></i> Create a DASHboard</a> </li>
              <li> <a sp-area="" asp-controller="Licence" asp-action="Index"><i class="fa fa-cog"></i> Settings</a> </li>
              <!--<li> <a sp-area="" asp-controller="Account" asp-action="LogOff"><i class="fa fa-power-off"></i> Logout</a> </li>-->
			  			<li>
							<form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="">
								<div class="nav navbar-nav navbar">
									<button type="submit" class=" navbar-link">Log off</button>
								</div>
							</form>
						</li>
            </ul>
          </li>
        </ul>
      </div>

		<!--<form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        
        <div class="nav navbar-nav navbar">
            
                <a asp-area="" asp-controller="Page" asp-action="CreatePage">Create Dashboard</a> | <a asp-area="" asp-controller="Licence" asp-action="Index" title="Manage">Manage </a> | <button type="submit" class="navbar-btn navbar-link">Log off</button>
            
        </div>
    </form>-->
}       
else
{
		
	
		
  <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
   