﻿
@{
    ViewBag.Title = "Modify Chart";
    Layout = null;
    string url = @ViewData["ChartURL"].ToString().Replace("\"", "");
    string pageid = @ViewData["PageID"].ToString();
    string configedchart = ViewData["SavedConfig"].ToString();
}
<input id = "btnSubmit" type="submit" value="Save"/>
<title>Modify Chart</title>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js" charset="utf-8"></script>  
    <script type="text/javascript" src="~/lib/handsontable/dist/handsontable.full.js"
            charset="utf-8"></script>
    <script type="text/javascript" src="~/lib/highcharts/highcharts.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/lib/highcharts/highcharts-3d.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/lib/highcharts/highcharts-more.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/lib/highcharts/modules/funnel.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/lib/highcharts/modules/heatmap.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/lib/highcharts/modules/solid-gauge.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/lib/highcharts/modules/treemap.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/lib/highcharts/modules/boost.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/lib/highcharts/modules/exporting.js"></script>
    <script type="text/javascript" src="~/lib/highcharts/modules/no-data-to-display.js"></script>
    <script type="text/javascript" src="~/custom_modules/easycharts/dist/ec.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css"
          href="~/lib/handsontable/dist/handsontable.full.css">

    <script type="text/javascript">
        $(document).ready(function() 
        {
            $("#btnSubmit").click(function()
            {
                
                
                $.ajax(
                    {
                                url: '@Url.Action("SaveChartConfig", "Chart")',
                                type: 'POST',
                                dataType: "json",
                                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                                data: {
                                    data: '@url'.replace("amp;", ""),
                                    pageID: @pageid,
                                    config: charty.getConfigStringified()
                                    }
                    });  
                    alert("Saved");
                    window.location.replace('@Url.Action("Index", "Home")');
            });
        }); 
        var charty; 

        document.addEventListener("DOMContentLoaded", function () {
            var configdata = JSON.parse(@Html.Raw(@configedchart));
            chart = new ec({
                element: document.getElementById('container-1'),
                dataUrl: '@url'.replace("amp;", ""),
                
                dataTab     : false,
                debuggerTab: false,
                showLogo: false,
               
               
                

            });
            console.log(chart) 
            
            console.log(chart.getConfigStringified()) 
            //chart.setConfig(configdata);
          charty = chart;
        chart.setConfig(configdata);

        });
        console.log(charty);
    </script>

    <title>EasychartJS plugin | DEMO</title>

</head>
<body>

    <div id="container-1"></div>

</body>
</html>
